---
---

// Redefine Header Variables
$header-heading-color: #3F3E3E !default;
$header-bg-color: #fd9d08 !default;
$header-bg-color-secondary: #B7B2B2 !default;
$button-header-color: #050505 !default;
$button-header-color-selected: #010101 !default;
$main-text-color: #252525 !default;

@import "{{ site.theme }}";

/* Redefine font types*/
@font-face {
  font-family: 'EHUSans';
  src: url('https://github.com/ilopezgazpio/GATAI/blob/main/assets/fonts/EHUSans/EHUSans-Regular.otf') format('otf'),
       url('https://github.com/ilopezgazpio/GATAI/blob/main/assets/fonts/EHUSans/EHUSans-Bold.otf') format('otf'),
       url('https://github.com/ilopezgazpio/GATAI/blob/main/assets/fonts/EHUSans/EHUSans-Black.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

/* Redefine page header */
.page-header {
    width: 100%;
    margin: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
    color: $header-heading-color;
    text-align: center;
    background-color: $header-bg-color;
    background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    @include small {
        display: inline-block;
    }

}

.navigation-buttons {
    margin-bottom: 1rem;

    @include large {
	float: right;
	margin-top : 5rem;
        margin-right: 15%;
    }

    @include medium {
	float: right;
	margin-top : 3rem;
        margin-right: 5%;
    }

    @include small {
	float: center;
	margin-top : 1rem;
        margin-right: 0%;
    }
}

.btn-header {
    color: $button-header-color;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 0.25rem;
    border-radius: 0.1rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    font-family: 'EHUSans';
    font-weight: bold;

    @include large {
	font-size: 1.1rem;
    }

    @include medium {
	font-size: 0.9rem;
    }

    @include small {
	font-size: 0.8rem;
	background-color: transparent;
	border-color: transparent;
	border-style: solid;
	border-width: 0rem;
	border-radius: 0rem;
	transition: none;
    }

  &:hover {
    color: $button-header-color-selected;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.75);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: $header-heading-color ;
  }

  + .btn-header {
      margin-left: 0.1rem;
  }

  @include large {
    padding: 0.05rem 0.05rem;
  }

  @include medium {
    padding: 0.1rem 0.1rem;
    font-size: 0.9rem;
  }

  @include small {
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 0rem;
    border-radius: 0rem;
    transition: none;

    + .btn {
      margin-top: 1rem;
      margin-left: 0rem;
    }
  }
}

/*dropdown menu main navigation bar*/
.navigation-buttons .dropdown {
    position: relative;
    display: inline-block;
}

.navigation-buttons .dropdown-menu {
    display: none;
    position: absolute;
    background-color: $header-bg-color;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navigation-buttons .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: $button-header-color-selected;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.75);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: $header-heading-color ;
  }

}

.navigation-buttons .dropdown:hover .dropdown-menu {
    display: block;
}

/* Redefine header logo*/
.header-logo-image {
    margin-left: 0%;
    padding-left: 0;
    padding-right: 0;
    border: 3px double #000000;
    border-radius: 5%;
    width: auto;
    transition: transform 0.5s ease;
    box-shadow: 4px 4px 0px #333, 8px 8px 0px #666;
    padding: 1px;
    background-color: white;

    @include large {
	height: 6.5rem;
        margin-right: 2rem;
    }

    @include medium {
	height: 4rem;
        margin-right: 1rem;
    }

    @include small {
	height: 6.5rem;
    }
    
    &:hover {
	transform: scale(1.05);
    }
}

/* Language link */
.language-switch {
    
    @include large {
	margin-top : 5rem;
    }

    @include medium {
	display : block;
	margin-top : 0.5 rem;
    }

    @include small {
	display : none;
    }
    
    &:hover {
	transform: scale(1.1);
    }

}

.language-link {
    margin-left: auto; 
    padding: 0 15px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

/* Define upper banner */
.horizontal-banner {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.horizontal-banner img {
  width: auto;
  object-fit: cover;
  border: 0px solid #000;

  @include large {
      height: 12rem;
  }

  @include medium {
      height: 9rem;
      margin-right: 1rem;
  }

  @include small {
      height: 6rem;
      margin-right: 0.2rem;
  }
  
}

/* Define lower banner */
.lower-horizontal-banner {
    margin-top: 4.5rem;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.lower-horizontal-banner img {
  width: auto;
  height: 70px;
  object-fit: cover;
  border: 0px solid #000;
}

/* Redefine main content container */

/* Redefine {{ content }} header color */
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 { margin-top: 2rem; margin-bottom: 1rem; font-weight: bold; color: $header-heading-color; }

.project-tagline {
    margin-top:2rem;
    margin-bottom: 0.25rem;
    margin-left: 0;
    margin-right: 20%;
    font-weight: bold;
    opacity: 0.7;
    font-family: 'EHUSans';
}

/* Redefine content paragraphs */
p {
    font-family: 'EHUSans';
    text-align: justify;
    color: $main-text-color
}

/* Define post or product images */

.product-image-middle {
    display: block;
    margin: 0 auto;
    width: 45%;
    height: auto;
    border: 0.5px solid black;
    object-fit: cover;
}

.product-image-left {
    float: left;
    width: 35%;
    height: auto;
    margin-right: 15px;
    margin-bottom: 0px;
    border: 0.5px solid black;
    object-fit: cover;
}

/* Define blog post xournal images */
.xournal-image {
    display: block;
    margin: 0 auto;
    width: 95%;
    height: 95%;
}

/*Correct alignment for publications*/
.publication p {
    text-indent: -20px;  /* Sangría negativa en la primera línea */
    padding-left: 20px;  /* Desplaza todo el párrafo a la derecha */
}

/* Define style for posts */
.posts-list {
    list-style: none;
    margin-top: 3rem;
    margin-bottom: 20px; /* Adds space between posts */
}

.post {
    margin-top: 3rem;
    margin-bottom: 3rem; /* Adjust the space between posts */
    text-align: center; /* Center the content of each post */
}

.post-image {
    margin-top: 30px;
    margin-bottom:30px;
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.post-title {
    /* Additional styling for the post title if needed */
}


/* Define image-gallery for ikastetxeak */

.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin: 20px 0;
}

.image-gallery img {
  width: 100%;
  height: auto;
  transition: transform 0.2s;
}

.image-gallery img:hover {
  transform: scale(1.05);
  cursor: pointer;
}


/* Define publications and publication style */
.publications {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .publication {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

.publication-image {
    float: left;
    width: 130px;
    height: 170px;
    margin-right: 15px;
    margin-bottom: 0px;
    border: 0.5px solid black;
    object-fit: cover;
}
